/* @import url('remixicon/fonts/remixicon.css'); */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;400;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #000;
}

.textareaScroll::-webkit-scrollbar {
    width: 4px; 
}

.textareaScroll::-webkit-scrollbar-track {
    background: transparent;
}

.textareaScroll::-webkit-scrollbar-thumb {
    background: #a7a7a7;
    border-radius: 5px;
}


/* scroll para el modal */
.modalScroll::-webkit-scrollbar {
    width: 3px; 
}

.modalScroll::-webkit-scrollbar-track {
    background: transparent;
}

.modalScroll::-webkit-scrollbar-thumb {
    background: #cfcfcf;
    border-radius: 5px;
}